## vCore's RP Server Configuration File

sv_hostname "vRP NZ"
sets sv_projectName "vRP NZ"
sets sv_projectDesc "Nz Rp Car Racing Server."
sets tags "default, deployer"
sets locale "root-AQ"

set mysql_connection_string "INSERT_YOUR_MYSQL_CONNECTION_STRING_HERE"

sv_enforceGameBuild 3258 #mp2024_01	- Bottom Dollar Bounties
sv_licenseKey "INSERT_YOUR_LICENSE_KEY_HERE"
sv_maxclients 4
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set steam_webApiKey "none"
set resources_useSystemChat true

## Ensure resources
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents
ensure [core] 
ensure [EUP]
ensure [vMLO]

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:INSERT_YOUR_IDENTIFIER_HERE group.admin
